main {
    max-width: 600px;
    height: fit-content;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.switch-form-text {
    margin: 20px auto;
}

.switch-form-text > a {
    text-decoration: none;
    color: var(--primary-color);
}

.switch-form-text > a:hover {
    text-decoration: underline;
}

.error-text {
    color: var(--error-color);
    margin-bottom: 10px;
}

@media (width <= 700px) {
    main {
        padding: 0 20px;
    }
}
