form > div {
    margin-bottom: 20px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div label {
    font-weight: 500;
}

form div p {
    color: #6b7280;
    font-size: 15px;
    margin-top: -4px;
}

form div p.error {
    color: var(--error-color);
}

form div input {
    border: 1px solid #D1D5DB;
    border-radius: .375rem;
    padding: 9px;
    font-size: 16px;
}

form div input[disabled] {
    background-color: #F1F1F1;
    cursor: not-allowed;
}

form div input.error {
    border: 1px solid var(--error-color);
}

form div input:focus {
    padding: 8px;
    border: 2px solid var(--primary-color);
}

form div input.error:focus {
    border: 2px solid var(--error-color);
}

form .one-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

form .one-line div {
    flex-grow: 1;
    min-width: 250px;
}

form.search > input {
    width: 300px;
    padding: 9px;
    border: 1px solid #D1D5DB;
    font-size: 16px;
    border-top-left-radius: .375rem;
    border-bottom-left-radius: .375rem;
}

form.search > input:focus {
    padding: 8px;
    border: 2px solid var(--primary-color);
}

form.search > button {
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;
    margin-left: -7px;
}
