@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary-color: #0C4A6E;
    --secondary-color: #3ABFF8;
    --accent-color: #0DA2E7;

    --background-color: #FEFEFE;
    --text-color: #111111;

    --error-color: #F83A3A;
}

* {
    padding: 0;
    margin: 0;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

body, input, textarea, button {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
